#banner{
	right:0;
	text-align: center;
	margin-right:0;
}
.head{
    color:#fff;
	background: #f83;
	background: -moz-linear-gradient(-70deg, #f83 0, #fa2562 80%, #fa2562 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0, #f83), color-stop(80%, #fa2562), color-stop(100%, #fa2562));
	background: -webkit-linear-gradient(-70deg, #f83 0, #fa2562 80%, #fa2562 100%);
	background: -o-linear-gradient(-70deg, #f83 0, #fa2562 80%, #fa2562 100%);
	background: -ms-linear-gradient(-70deg, #f83 0, #fa2562 80%, #fa2562 100%);
	background: linear-gradient(145deg, #f83 0, #fa2562 80%, #fa2562 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8833', endColorstr='#fa2562', GradientType=1);
}
.head{
	.container{
		padding-top:30px;
		padding-bottom:20px;
	}
}
.name{
	font-size:24px;
}
.name{
	.title{
		margin-bottom:-4px;
	    color: #390975;;
	}
	.small{
		font-size:14px
	}
}
span.width150{
	display:inline-block;
	width:150px;
	text-align:left;
}
span.width60{
	display:inline-block;
	width:60px;
	text-align:left;
}
#content{
	background: #ca2091;
	background: -moz-linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0, #ca2091), color-stop(20%, #a041fa), color-stop(50%, #3f65fb), color-stop(80%, #0fcbfa), color-stop(100%, #0fe6fa));
	background: -webkit-linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
	background: -o-linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
	background: -ms-linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
	background: linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca2091', endColorstr='#0fe6fa', GradientType=1);
	color:#fff;
	padding-top:50px;
}
.block{
	border: 2px solid rgba(204, 204, 204, 0.69);
	padding: 20px;
	margin: 20px 0;
}
.tabCen{
	display:table;
	margin:0 auto;
}
.circle{
	position:relative;
	width:130px;
	height:130px;
	display:inline-block;

}
.circle{
	span{
		position: absolute;
		font-size: 24px;
	}
}
#en{
	margin-right:20px;
	span{
		top: 47px;
		left: 26px;
	}
}
#Zh{
	span{
		top: 47px;
		left: 15px;
	}
}
footer{
	background: #f83;
	background: -moz-linear-gradient(-70deg, #f83 0, #fa2562 80%, #fa2562 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0, #f83), color-stop(80%, #fa2562), color-stop(100%, #fa2562));
	background: -webkit-linear-gradient(-70deg, #f83 0, #fa2562 80%, #fa2562 100%);
	background: -o-linear-gradient(-70deg, #f83 0, #fa2562 80%, #fa2562 100%);
	background: -ms-linear-gradient(-70deg, #f83 0, #fa2562 80%, #fa2562 100%);
	background: linear-gradient(145deg, #f83 0, #fa2562 80%, #fa2562 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8833', endColorstr='#fa2562', GradientType=1);
	color:#fff;
	padding:20px 0 10px 0;
	a{
		color:#20203B;
	}
}
@media (max-width:767px) {
	.head{
		text-align: center;
	}
	// .name {
	// 	border: 1px solid #ccc;
	// 	padding: 4px 0;
	// 	margin-bottom: 10px;
	// }
	// .info{
	// 	border: 1px solid #ccc;
	// 	padding: 4px 0;
	// 	margin-bottom: 10px;
	// }
	span.width60{
		text-align: right;
	}
	.block{
		padding:8px;
		h3{
			font-size:20px;
		}
	}
	.circle{
		display: block;
		margin-bottom:20px;
	}
	
}

